[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_CA]=gnome-panel-launcher
Exec=sudo python /home/student/attack-topo.py
Name[en_CA]=Start Mininet
Comment[en_CA]=Start Mininet
Name=Start Mininet
Comment=Start Mininet
Icon=gnome-panel-launcher
